<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>What's the weather today? 🤔</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <% if (weather === null) { %>
            <div
                class="card <%= error !== null ? 'sm-card-extend' : 'sm-card' %>"
            >
                <div class="title">Enter a city to find out the weather</div>
                <form action="/" method="post">
                    <input
                        name="city"
                        type="text"
                        placeholder="City"
                        required
                    />
                    <% if (error !== null) { %>
                    <div class="error"><%= error %></div>
                    <% } %>
                    <input type="submit" value="Get Weather" />
                </form>
            </div>
            <% } else { %>
            <div class="card lg-card">
                <div class="location"><%= location %></div>
                <div class="date"><%= date %></div>
                <div class="main-fields">
                    <div class="main-fields-left">
                        <label class="main-temperature celcius"
                            ><%= temperature %></label
                        >
                        <label class="description"
                            ><%= weather.description %></label
                        >
                    </div>

                    <div class="main-fields-right">
                        <img
                            src="https://openweathermap.org/img/wn/<%= weather.icon %>@2x.png"
                        />
                    </div>
                </div>

                <div class="weather-fields-container">
                    <div class="weather-fields">
                        <label class="weather-label">Feels like</label>
                        <label class="celcius value"><%= feelsLike %></label>
                    </div>

                    <div class="weather-fields">
                        <label class="weather-label">High</label>
                        <label class="celcius value"><%= tempMin %></label>
                    </div>

                    <div class="weather-fields">
                        <label class="weather-label">Low</label>
                        <label class="celcius value"><%= tempMax %></label>
                    </div>
                </div>

                <div class="weather-fields-container">
                    <div class="weather-fields">
                        <label class="weather-label">Humidity</label>
                        <label class="value"><%= humidity %></label>
                    </div>

                    <div class="weather-fields">
                        <label class="weather-label">Wind</label>
                        <div>
                            <span class="value"><%= wind %></span>
                            <span>m/s</span>
                        </div>
                    </div>

                    <div class="weather-fields">
                        <label class="weather-label">Visibility</label>

                        <div>
                            <span class="value"><%= visibility %></span>
                            <span>km</span>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>
